/* *****************************************************

    ** Custom Stylesheet ** SIX Template

    Any custom styling you want to apply should be
    defined here.

***************************************************** */

body {# font-size: 1.6em;}
.navbar-main {background-color: #2c517b; /** #444d58 #465054  **/ border-color:#2e6da4;}
@media (min-width: 1200px) {
    .container {width: 1220px;}
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .navbar-main {background-color: #2c517b;}
    body {
       /** font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; **/
        font-size: 16px !important;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
    }
    #order-standard_cart label {font-weight: 300; color: #666;
        font-size: 16px !important;}
    /** .list-group {font-size: 1em;} **/
    .suggested-domains .btn:not(.domain-contact-support) {
    padding: 2px 10px;
    font-size: 14px !important;
    line-height: 1.4;
    border-radius: 3px;
    background-color: #555;
    border-color: #333;
    color: #fff;
    }
}
@media only screen and (max-width: 380px) {
    /* For mobile phones: */
    .navbar-main {background-color: #2c517b;}
    body {
        /** font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; **/
        font-size: 16px !important;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
    }
    #order-standard_cart label {font-weight: 300; color: #666;
        font-size: 16px !important;}
    /** .list-group {font-size: 1em;} **/
    .suggested-domains .btn:not(.domain-contact-support) {
    padding: 2px 10px;
    font-size: 14px !important;
    line-height: 1.4;
    border-radius: 3px;
    background-color: #555;
    border-color: #333;
    color: #fff;
    }

    #order-standard_cart .field, #order-standard_cart .form-control {
    position: relative;
    vertical-align: top;
    border: 1px solid #ddd;
    display: -moz-inline-stack;
    display: inline-block;
    color: #626262;
    outline: 0;
    background-color: #fff;
    height: 36px;
    width: 100%;
    border-radius: 3px;
    font-size: 12.5px !important;
    }
}

ul.top-nav>li.primary-action>a.btn {
    background-color: #fff;color: #777;}
input {font-size: 1.2em}
div.header-lined .breadcrumb {font-size: .95em;}
.label-info {background-color:#f77 ;} /* #0e4f76cf */
.text-danger {color: #FB3138; /** #a94442; **/ }
.panel {font-size: .99em;}
.label2 {
    display: inline;
    padding: 10px 16px;
    font-size: 18px;
    font-family: "Open Sans";
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .3em;
    margin-bottom: 0;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 18px;
    margin-bottom: 5px;
}
.list-group {
    font-size: 0.95em;
}





/** Properties moved to standart_cart custom.css **

#order-standard_cart .sub-heading span, #order-standard_cart .sub-heading-borderless span {
    display: inline-block;
    position: relative;
    padding: 0 17px;
    top: -11px;
    font-size: 18px;
    color: #058;
    background-color: #fff;
}
#order-standard_cart .panel-addon .panel-body label {
    font-size: 1.4em !important;
    font-weight: 700;
    color: #333;
}
.tld-sale-group-sale {background-color: #f7d458;}
.domain-checker-container {
    margin: 20px 0;
    padding: 0;
    background-color: #ffce44;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    background: -webkit-gradient(linear,0 0,0 100%,from(#ffb201),to(#ffd960));
    background: -webkit-linear-gradient(top,#f90,#ffb201);
    background: -moz-linear-gradient(top,#ffd960,#ffb201);
    background: -ms-linear-gradient(top,#ffd960,#ffb201);
    background: -o-linear-gradient(top,#ffd960,#ffb201);
}
.featured-tld .price.in {background-color: #000; color: #fff;}
.featured-tld .price.org {background-color: #193B4E; color: #fff;}
.featured-tld .price.ca {background-color: #ea3438; color: #fff;}
.featured-tld .price.xyz {background-color: #ad4fc6;color: #fff;}
.kbarticles a {font-size: 1.2em;font-weight: 500;}
.spotlight-tld span {display: block;padding: 5px 0; font-weight: 900;}

.label-warning {background-color: #f90;}
.btn-success {color: #fff; background-color: #293239; border-color: #293239;}
.btn-success.disabled.focus, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled].focus, .btn-success[disabled]:focus, .btn-success[disabled]:hover, fieldset[disabled] .btn-success.focus, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:hover {
    background-color: #f7b76ceb;border-color: #ffa53be0;}
.btn-group-sm>.btn, .btn-sm {margin-top:9px;}
.btn.btn-add-to-cart.checkout {background-color: #5cb85c; border-color: #006600;}
.unavailable {color: #ff0010;}
span.status-active:hover, span.status-paid:hover {
    color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
span.status-unpaid:hover {
 	color: #FFFFFF;background-color:#ff7777;border-color: #fdb1ad;}
span.status-redemption, span.status-grace, span.status-suspended {
    color: #f77; background-color: #ff777703; border-color: #ccc;}
span.status-redemption:hover, span.status-grace:hover, span.status-suspended:hover {
    color: #ffffff; background-color: #fF7777;border-color: #fdb1ad;}

    

.added {color: #5cb85c; 
    /** color:#84ff85; 
    font-size: 1.1em; 
    font-weight: 900;}
.achecker{color:white; font-size: 1em; font-weight: 900;}
.acheckerspotlight {color: #84ff85; font-size: 0.9em; font-weight: 900;}
.acheckerotherhits {color: #84ff85; font-size: 1em; font-weight: 900;}
.btx.disabled, btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .50;
    -webkit-box-shadow: none;
    box-shadow: none;
}



** END **/



